<!DOCTYPE html>

<html>

<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	{% include 'snippets/header.html' %}
</head>


<body>
	<!-- Body -->
	<style type="text/css">
		a { color: inherit; } 
		body {
			font-family: Arial;
			padding: 3px;
			background: #E0E0E0;
			}
		.main{
			min-height: 100vh;
			height: 100%;
		}
		body:not(.user-is-tabbing) button:focus,
		body:not(.user-is-tabbing) input:focus,
		body:not(.user-is-tabbing) select:focus,
		body:not(.user-is-tabbing) textarea:focus {
  				outline: none;
			}
	</style>

	<div class="main">
		{% block content %}

		{% endblock content %}
	</div>
	<!-- End Body -->

	{% include 'snippets/footer.html' %}
</body>

</html>