{% extends 'base.html' %}

{% block content %}

<title>Url_Summerize</title>
<style type="text/css">
	/*body{
		font-family: Arial;
		padding: 10px;
		background: #f1f1f1;
		border-radius: 25px;
		}*/
	.centercolumn {   
		float: center;
		/*width: 70%;*/
		border-radius: 30px;
		padding-left: 400px;
		padding-right: 0px;
		padding-top: 90px;
	}
	.example_e {
			border: none;
			background: #404040;
			color: #ffffff !important;
			font-weight: 100;
			padding: 10px;
			text-transform: uppercase;
			border-radius: 6px;
			display: inline-block;
			transition: all 0.3s ease 0s;
			}
	.example_e:hover {
			color: #404040 !important;
			font-weight: 700 !important;
			letter-spacing: 3px;
			background: none;
			-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
			-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
			transition: all 0.3s ease 0s;
			}
	input[type=submit]{
		border: none;
		background: #404040;
		color: #ffffff !important;
		font-weight: 100;
		padding: 10px;
		text-transform: uppercase;
		border-radius: 6px;
		display: inline-block;
		transition: all 0.3s ease 0s;

	}
	input[type=submit]:hover {
		color: #404040 !important;
		font-weight: 700 !important;
		letter-spacing: 3px;
		background: none;
		-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		transition: all 0.3s ease 0s;
		}

	.back{

		float: right;
		padding-right: 450px;

		}
</style>
<form method="post" action="result_url" class="centercolumn" >
	{% csrf_token %}
	<textarea rows="2" cols="70" name="num" style="border-radius: 20px " ></textarea><br>
	<input type="submit"></input>

	<div class="back" class="button_cont" align="center" class = "example_e"><a class="example_e" href="{% url 'project' %}" style="text-decoration: none;" rel="nofollow noopener">Back</a></div>
</form>

{% endblock content %}